---
import VerticalNav from "../components/VerticalNav.astro";

import { ViewTransitions } from 'astro:transitions';


import HamburgerNav from '../components/HamburgerNav';

interface Props {
    title: string;
};

const { title } = Astro.props;
const section_titles = [
    {title: "Home", img: "home.svg"},
    {title: "About", img: "user-circle.svg"},
    {title: "Experience", img: "briefcase.svg"}, 
    {title: "Skills", img: "target.svg"}
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="csuf.png" />
		<link rel="stylesheet" type="text/css" href="global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="scroll-smooth flex flex-auto bg-[--white] w-full h-full">
		<VerticalNav sections={section_titles} active={title}/> 
		<HamburgerNav client:visible sections={section_titles} active={title}/>
		<main class="h-full overflow-auto">
			<div transition:animate="fade" class="m-0 px-2 md:px-10">
				<slot />
			</div>
		</main>
	</body>
</html>

<style>
main {
	padding-top: 10%;
}
@media (min-width: 768px) {
    main {
        width: calc(100% - var(--navbar-width));
		margin-left: var(--navbar-width);
    }
}
@media (max-width: 768px) {
    main {
        height: calc(100% - 80px);
		width: 100%;
		margin-top: 80px;
    }
}
</style>
